@import 'css/main';

header.head-nav {
  background-color: rgba(get-color(grey), 0.5);
  color: get-color(gold);
  height: 40px;
  top: 15px;
  left: 15px;
  right: 15px;
  border-radius: 20px;
  text-align: center;
  width: unset;
  justify-content: center;

  .nav {
    &-menu,
    &-search {
      font-weight: $font-weight-bolder;
      @include font-size-large;
    }
  }

  .switch {
    flex: 1 1;
    justify-content: center;

    .stage {
      padding: 5px;
      border: none;
      font-weight: $font-weight-bolder;
      @include font-size-small;

      &-previous,
      &-next {
        padding: 0;
        color: get-color(white);
        @include font-size-large;
      }
    }
  }
}

