@import 'css/main';

.thread-form {
  padding: 10px 0;
  margin: 0 30px;

  .container {
    .handle {
      margin: 0 auto;
      width: 20px;
      height: 5px;
      background-color: get-color(white);
      border-radius: 5px;
      cursor: pointer;
    }

    .form {
      padding: 20px 0;

      .fields {
        margin: 0;
        padding: 0;
        list-style: none;

        .field {
          padding: 10px 0;
          display: flex;
          flex-flow: column nowrap;

          .label {
            margin: 0 0 10px;
            color: rgba($color: get-color(white), $alpha: 0.7);
            @include font-size-small;
          }

          .input {
            padding: 5px 15px;
            outline: none;
            background-color: transparent;
            color: get-color(gold);
            border: 1px solid get-color(gold);
            border-radius: 8px;
            @include font-size-normal;
            font-weight: $font-weight-bold;
          }
        }
      }
    }
  }
}
