@import 'css/main';

.timer-bar {
  .timer {
    color: get-color(gold);
    font-weight: normal;
    @include font-size-small;
    text-align: center;

    span {
      text-align: center;
      display: inline-block;

      &.second,
      &.centisecond {
        width: 20px;
      }

      &.colon {
        width: 10px;
      }
    }
  }
}
