@import 'css/main';

.left {
  .container {
    margin: 0 10px 0 30px;
    padding: 25px 0;

    .link {
      text-decoration: none;
      outline: none;

      .button {
        padding: 10px;
        width: 100%;
        background-color: get-color(gold);
        border: none;
        border-radius: 10px;
        outline: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      }
    }
  }
}
