@import 'css/main';

.play-list {
  max-height: 0;
  border-top: 1px solid transparent;
  overflow: hidden;
  transition:
    max-height 0.15s ease-out,
    border-top 0.15s ease-out;

  &.open {
    padding-bottom: 100px;
    max-height: 100%;
    border-top: 1px solid get-color(white);
    transition:
      max-height 0.3s ease-in,
      border-top 0.3s ease-in;
  }

  .voices {
    list-style: none;
    margin: 0;
    padding: 10px 0;

    .voice {
      padding: 10px 0;
    }
  }
}
