header.head-nav {
  background-color: #484747;
  height: 40px;
  border-radius: 20px;
  top: 15px;
  left: 15px;
  right: 15px;
  text-align: center;
  width: unset;
  justify-content: center;
  color: #FADC4E;
}

.nav-button {
  font-weight: bold;
}

.nav-button > span, .switch-button > span {
  font-weight: bold;
  font-size: 16px;
}

.switch {
  flex: 1 1;
  justify-content: center;
}

.switch-button, .title {
  border: none !important;
}

.switch-button {
  color: #FFFFFF !important;
}