@import 'css/main';

.map {
  height: 100%;
  background-color: get-color(black);

  .tile-layer {
    filter: contrast(1.4) hue-rotate(260deg) saturate(1.3) brightness(0.8);
  }

  .icon {
    background-color: rgba(get-color(white), 0.9);
    border-radius: 50%;
    box-shadow: inset 0px 0px 3px 3px get-color(gold), 0px 0px 5px 5px rgba(get-color(gold), 0.9);
    transform-origin: center;

    &:active {
      zoom: 1;
    }
  }

  .popup {
    margin: 0;
    top: -26px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: get-color(gold);
    opacity: 0.3 !important;

    *:not(:first-child) {
      display: none;
    }

    div:first-child {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      background-color: get-color(gold);
      opacity: 0.5 !important;
      transform: scale(1.5);
    }
  }
}
